<div class="card h-100 shadow-sm">
    <img src="{{product.productPicture}}" alt="Image">
    <div class="card-body">
        <div class="">
            <a href="#">
                <p class="text-uppercase">{{product.name}}</p>
            </a>
            <div>{{product.price }}</div>
            <div>{{product.categoryName }}</div>
        </div>

        <div class="">
            <div class="btn-group mt-2">
                <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%"><i
                        class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary">view</button>
            </div>
        </div>
    </div>
</div>


<!-- 
    <div class="card h-100 mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{product.productPicture}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.price}}</p>
              <p class="card-text">{{product.categoryName}}</p>
              <div class="btn-group">
                <br><br>
                <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary">view</button>
            </div>
            </div>
          </div>
        </div>
      </div> -->